# Server Configuration
PORT=3000

# Database Settings
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=music_mimic_db

# JWT Security Settings
JWT_SECRET=your_random_secret_string_here
JWT_EXPIRES_IN=1h

# Spotify Developer API Credentials
SPOTIFY_CLIENT_ID=your_spotify_client_id_here
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret_here
SPOTIFY_REDIRECT_URI=http://127.0.0.1:3000/api/auth/spotify/callback

#Genius
GENIUS_ACCESS_TOKEN=

