# Database Configuration
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

# Application Configuration
PORT=

# JWT Security Settings
JWT_SECRET=
JWT_EXPIRES_IN=

# Spotify Developer API Settings
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=