<div class="header">
  <div class="header-left">
    <img src="/img/Spotify_Full_Logo_RGB_Green.png" alt="Spotify Logo" class="spotify-logo">
  </div>

  <div class="header-center">
    <h1><a href="/" style="color: inherit; text-decoration: none;">Music Mimic</a></h1>
    <p style="color: #8c8c8c; margin: 0;">Music Search App Utilizing Spotify API</p>
  </div>

  <div class="header-right">
    <!-- Search bar only shown if backend passes isLoggedIn: true -->
    <% if (locals.isLoggedIn) { %>
      <form action="/search" method="GET" class="search-form">
        <input type="text" name="query" placeholder="Search music..." class="header-search" required>
      </form>
    <% } %>
  </div>
</div>